.loginFormContainer {
  background-color: #f1f3ff;
  color: BLACK;
  padding: 45px;
  max-width: 420px;
  max-height: 320px;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2000;
  text-align: center;
  /* higher than nav */
}

.loginFormContainer h5 {
  margin-bottom: 15px;
  font-size: 0.89rem;
}

.loginFormContainer input {
  width: 100%;
  padding: 10px;

  border: none;
  border-radius: 4px;
}

.loginFormContainer button {
  width: 100%;
  padding: 10px;
  background-color: #0d6efd;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.loginFormContainer button:hover {
  background-color: #0b5ed7;
}

/* Add to LoginForm.module.css */
.loginFormOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1999;
}

.loginLogo {
  display: block;
  margin: 0 auto 10px auto;
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.mobileInputWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.stdCode {
  background: #222;
  color: #fff;
  padding: 10px 12px;
  border-radius: 4px 0 0 4px;
  font-size: 1rem;
  border: none;
}

.mobileInput {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 0 4px 4px 0;
  font-size: 1rem;
}

@media (max-width: 900px) {
  .loginFormContainer {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .loginLogo {
    width: 60px;
    height: 60px;
  }

  .loginFormContainer h5 {
    font-size: 0.85rem;
  }

}