.wrapper {
  background: #fff;
}
.paymentContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: space-between;
  padding: 2rem;
  flex-wrap: wrap;

}

.title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #002366;
}

.section {
  margin-bottom: 2rem;
}

.cardList label,
.section label {
  display: block;
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: #333;
}

.disabled {
  color: #999;
  text-decoration: line-through;
}

.orderSummary {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
}

.confirmButton {
  background-color: #ffcc00;
  color: #000;
  padding: 0.75rem 2rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.confirmButton:hover {
  background-color: #e6b800;
}


.paymentLeft {
  flex: 1;
  min-width: 300px;
  margin-right: 2rem;
}

.paymentRight {
  flex: 2;
  min-width: 300px;
  background-color: #f9f9f9;
  color: #000;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.paymentRight ul {
  list-style: none;
  padding: 0;
}

.paymentRight li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.total {
  text-align: right;
  font-size: 1.2rem;
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .paymentContainer {
    flex-direction: column;
  }

  .paymentLeft,
  .paymentRight {
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .paymentRight {
    padding: 1rem;
  }

  .confirmButton {
    width: 100%;
    padding: 1rem;
  }
}
