/* resetPassword.module.css */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #fafafa;
  }
  
  .resetBox {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    text-align: center;
  }
  
  .input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: #000;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #ffd700;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  